<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clucks!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/popper.min.js" charset="utf-8"></script>
    <script defer src="/js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="/clucks/"><img src="/images/cluckslogo.jpg" class="clucks_logo"></a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="/clucks/new" class="btn btn-secondary btn-lg">&nbsp;&nbsp;Cluck!&nbsp;&nbsp;</a>
          </li>
        </ul>
    </nav>
    <hr class="m-0 undernav" />
    <div class="container-fluid">
